body {background-color:black; font-family:arial; color:white}
h1{color:grey; font-family:verdana}
.mainDiv {
    align:center;
    background-color:white;
    border-radius:25px;
    color:black;
    width:600px;
    padding:20px;
    margin-bottom:5px;
}
.inputDiv {
    aligh:center;
    margin-bottom:1.5rem;
    margin-left: 5.25rem;
}
.alert-focus:focus {
    background:crimson;
    color:black;
}
.alert-focus:not(:focus){
    background:white;
    color:black;
}
.grey-focus:focus {
    background:lightgrey;
    color:black;
}
.grey-focus:not(:focus) {
    background:white;
    color:black;
}
.textHighlight {
    background-color:yellow;
    color:black;
}
.copyrightMessage {
    font-size: 0.5rem;
    color:lightgrey;
}


